[Desktop Entry]
Name=Verso Updated
StartupWMClass=verso
Comment=Community continuation of Verso — a web browser built on Servo.
GenericName=Web Browser
Type=Application
Categories=Network
Icon=org.versotile.verso
Exec=verso
